.msg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg {
    font-size: 12px;
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes pulse {
    0% {
        font-size: 12px;
        opacity: 0.10;
        color: red;
        transition: all 2s ease-in-out 2s ease-in-out;

    }

    20% {
        transition: all 2s ease-in-out 2s forwards;
        opacity: 0.40;
        color: black;
    }

    50% {
        color: black;
        opacity: 0.70;
        transition: all 2s ease-in-out 2s forwards;
    }

    70% {
        color: black;
        opacity: 0.70;
        transition: all 2s ease-in-out 2s forwards;
    }

    100% {


        color: blue;
        opacity: 100;
        transition: all 1s ease-in-out 2s forwards;
    }

}

form {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: white;
    backdrop-filter: blur(100px);
    margin: 3px;
    border-radius: 20px;
    box-shadow:  0 0 40px 1px #E2DFD2;

}

.userinput {
    height: 28px;
    width: 80%;
    color: #000000;
    font-size: 12px;
    font-family: serif;
    background-color: white;
    outline: none;
    border: none;
    padding-left: 12px;
    border: 1px solid #EDEADE;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-radius: 5px;
    

}

.userinput::placeholder {
    text-transform: uppercase;
    color: #000000;
    font-size: 10px;
    font-family: Arial;
    opacity: 0.50;
    font-family: Arial, Helvetica, sans-serif serif;
}

.box1 {
    width: 100%;
    height: 40px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    gap: 10%;
}

.submit {
    display: flex;
    height: 20px;
    text-transform: uppercase;
    width: 20%;
    margin: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 40%;
    box-shadow: 0 0 4px 1px whitesmoke;
    font-family: Arial;
    font-size: 12px;
}

.user-recovery {
    width: 100%;
    height: 40px;
    display: flex;
    padding-left: 2px;
    background-color: transparent;
    justify-content: space-around;
    gap: 10%;


}

.user-recovery a {
    text-decoration: none;
    color: black;
    opacity: 0.70;
    font-size: 12px;
    font-family: Arial;
    padding: 1px;

}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    font-size: 30px;
    margin:10px;
    color: #000000;
    border: none;
    padding: 0px;
}

.input {
    margin-left: 3px;
    color: white;
    font-size: medium;
}



#msg1 {
    font-size: 12px;
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

#msg2 {
    font-size: 12px;
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.msg3 {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    text-align: center;
}

#msg4 {
    font-size: 12px;
    color: red;
    text-align: center;
}

.sbt {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: Arial;
}

.chkbox {

    width: 100%;
    height: 10px;
    color: black;
    opacity: 0.50;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chkbox1 {

    width: 90%;

}

#checkbox {
    width: 8px;
    height: 8px;
    margin-left: 16px;
}

#open {
    text-decoration: none;
    color: #0ef;
    font-size: 12px;
    animation: pulse 1s ease-in-out infinite alternate;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
}

#close {
    text-decoration: none;
    color: #0ef;
    font-size: 12px;
    animation: pulse 1s ease-in-out infinite alternate;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    display: none;
    border: none;
    outline: none;
}

#ul {
    width: 35%;
    height: 25px;
    color: black;
    font-size: 14px;
}

#uf {
    height: 25px;
    width: 35%;
    color: black;
    font-size: 14px;

}

input[type=date] {
    width: 70%;
    font-family: serif;
    font-size: 10px;
}

.un:focus {

    font-family: serif;
    box-shadow: 0 1px 0 1px white;
}
.login{
    margin: 5px;
    background-image: black;
    background-clip: text;
    color: black;
    background-color: transparent;
    font-size: 20px;
}
#um:focus ~ #pd {
    color: #000000;
    backdrop-filter: blur(2000px);
    background: white;
}d
.navbar{
    height: 10vh;
    width: 100%;
    background: black;
}